body {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
    width: 0 !important
}

h1 {
    position: relative;
    color: rgb(246, 255, 126);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

p {
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
    line-height: auto;
    font-family: Arial;
    margin-bottom: -45%;
    margin-top: -4%;
}

form {
    position: relative;
    /* top: 50%;
    left: 50%; */
    margin-top: -80vh;
    margin-left: 3%;
    width: 90vw;
    height: 300px;
    border: 4px dashed #fff;
}

/* @media (max-width:768px) {
    form {
        top: 70%;
        left: 40%;
        margin-top: -200px;
        margin-left: -150px;
        width: 350px;
        height: 300px;

    }
} */

pre {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 270px;
    font-family: Arial;
}



#input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

#button {
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 90vw;
    height: 140px;
    margin-top: -10px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}

#button:hover {
    background: #5cf17c;
    color: rgb(5, 59, 47);
}

#button:active {
    border: 0;
}